*{
    padding: 0px;
    margin:0px;
}
body{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

li{
    list-style: none;
}
a{
    color:white;
    text-decoration: none;
}

.social{
    color: white;
    width: 100%;
    background: rgb(112, 68, 60);
    animation: social 5s ease-in-out;
}
.social-media-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
}
.social-media-list li{
    margin-left: 15px;
    margin-top: 14px;
}
.burger-menu{
    position: absolute;
    padding: 30px;
    display: none;
    z-index: 2;
}
.burger-menu .line-one{
    height: 1px;
    width: 50px;
    background: white;
}
.burger-menu .line-two{
    height: 1px;
    width: 35px;
    background: white;
    margin-top: 8px;
}
.burger-menu .line-three{
    height: 1px;
    width: 50px;
    background: white;
    margin-top: 8px;
}
.navi{
    position: absolute;
    height: 50px;
    width: 100%;
    background: rgba(128, 128, 128, 0.432);
}
.navbar{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

main{
    height: 100%;
    /*background-color: rgb(20, 20, 20);*/
    background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgb(43, 58, 66) 50%, rgba(23,23,23,1) 100%);
    /*background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(60,59,59,1) 50%, rgba(23,23,23,1) 100%);*/
    /*background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(112,57,65,1) 50%, rgba(23,23,23,1) 100%);*/
    /* background: linear-gradient(90deg, rgba(166,84,31,1) 0%, rgba(0,0,0,0.4206057422969187) 50%, rgba(166,84,31,1) 100%); */
    flex-grow: 10;
    color: rgb(255, 255, 255);
    font-size: 30px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Fredericka the Great', cursive;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size:40px;
    text-align: center;
   
}
#home{
    animation: mymove 1s;
}
@keyframes mymove {
    
  from {top: 200px;
    opacity: 0;
    position: relative;}
  to {top: 0px;
    opacity: 1;
    position: relative;}
}

@keyframes social {
    from {opacity:0;}
    to {opacity: 1;}
  }

@media only screen and (max-width: 600px) {
    .navi{
        transform: translateX(100%);
        height: 100%;
        background: linear-gradient(90deg, rgb(75, 62, 62) 0%, rgb(66, 46, 43) 50%, rgba(23,23,23,1) 100%);
        transition: transform 0.5s ease-out;
    }
    .open{
        transform: translateX(0%);
    }
    .navbar{
        flex-direction: column;
        height: 100%;
    }
    
    .burger-menu{
        display: block;
    }
    .social{
        color: white;
        width: 100%;
    }
    .social-media-list{
        flex-direction: row;
        justify-content:flex-end; 
        padding: 0px;
        width: 100%;
        height: 50px;
    }
    .social-media-list li{
        margin-left: 0px;
        padding: 10px;
    }
    main{
        height: 100%;
    }
  }

  /*-----------------Portfolio----------------*/

 
